.container__style {
  align-items: center;
  background: url(../img/Background/background.png) center / cover no-repeat;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container__box {
  align-items: center;
  background-color: $primary-color;
  border: 4px solid $border-color;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  min-height: 93vh;
  justify-content: space-between;
  width: 65%;
}

.button__style {
  align-items: center;
  background-color: $secondary-color;
  border: 5px solid white;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  color: white;
  display: flex;
  font-family: $font;
  font-size: 22px;
  font-weight: bold;
  margin-top: 2rem;
  padding: 10px 60px;
  text-transform: uppercase;
  transition: 0.5s;

  &:hover {
    background-color: white;
    border-color: $secondary-color;
    color: $secondary-color;
  }
}

.container__box-logo {
  display: flex;
  justify-content: center;
}

@media (max-height: 850px) {
  .container__box-logo {
    width: 400px;
  }
}

@media (max-width: 1024px) {
  .container__box {
    min-height: 100vh;
    width: 100vw;
    border: 0px;
    border-radius: 0px;
    background: url(../img/Background/background.png) center / cover no-repeat;
  }
}

@media (max-width: 768px) {
  .container__box-logo {
    width: 300px;
  }
}

@media (max-width: 420px) {
  .button__style {
    font-size: 16px;
    padding: 10px 50px;
  }
}

@media (max-width: 300px) {
  .container__box-logo {
    width: auto;
  }

  .button__style {
    font-size: 14px;
    padding: 10px 30px;
  }
}
