@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import "./variables.scss";
@import "./common-elements.scss";
@import "./pages/register.scss";
@import "./footer.scss";
@import "./pages/home.scss";
@import "./pages/game.scss";
@import "./pages/index.scss";
@import "./pages/profile.scss";
