.container__box-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.personal-image {
  text-align: center;
}

.personal-image input[type="file"] {
  display: none;
}

.personal-figure {
  height: 150px;
  margin: 0;
  position: relative;
  width: 150px;
}

.personal-avatar {
  border: 5px solid white;
  border-radius: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  cursor: pointer;
  height: 150px;
  transition: all ease-in-out 0.3s;
  width: 150px;
}

.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.personal-figcaption {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100%;
  cursor: pointer;
  height: inherit;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: all ease-in-out 0.3s;
  width: inherit;
}

.personal-figcaption:hover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.personal-figcaption > img {
  height: 50px;
  margin-top: 50px;
  width: 50px;
}

.container__box-userInfo {
  align-items: center;
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__userInfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.photoAndInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__infos-input {
  background-color: white;
  border: 0px;
  border-radius: 100px;
  border-bottom: 6px solid black;
  color: black;
  font-family: $font;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 30px;
  margin-top: 10px;

  &:focus {
    color: black;
    background-color: white;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.644);
  }
}

.form__infos-input:first-child {
  margin-top: 0px;
}

.text {
  color: white;
  font-weight: 600;
  font-family: $font;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.paragraph-text {
  color: $secondary-color;
  text-transform: uppercase;
  font-weight: bold;
  font-family: $font;
  text-decoration: none;

  &:hover {
    color: white;
  }
}

@media (max-width: 768px) {
  .form__infos-input {
    background-color: white;
    border-radius: 100px;
    padding: 10px 30px;
    border-bottom: 10px solid black;
    color: black;
    font-family: $font;
    font-weight: bold;
  }

  .container__box-userInfo {
    flex-direction: column;
  }

  .photoAndInfo {
    flex-direction: column;
  }

  .form__userInfo {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 420px) {
  .form__infos-input {
    font-size: 16px;
    padding: 10px 25px;
  }
}

@media (max-width: 300px) {
  .form__infos-input {
    font-size: 14px;
  }
}
